---
const projects = await Astro.glob('../pages/article/*.md');
const slugify = (isTitle) => {
   return isTitle.toLowerCase()
          .replace(/[^a-z0-9-]/g, '-')
          .replace(/-+/g, '-')
          .trim('-')}

 function formatDate(dateString) {
  const options = { year: 'numeric', month: 'long', day: 'numeric' };
  return new Date(dateString).toLocaleDateString('en-US', options);
}
---

<div class="project is-flex is-flex-direction-column has-background-white-ter p-5">
       <div class="is-flex is-justify-content-space-between is-align-items-center">
        <h2 class="is-size-4 is-size-5-mobile">Articles</h2>
        <a href="/article/page/1" class="button is-white is-flex is-justify-content-center is-align-items-center project-button px-3 py-2">
                
                <p class="ml-1">See All Articles</p>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>
            </a>
       </div>
       <div class="is-flex is-flex-direction-column mt-3">
        {projects.slice(0, 3).map(project => (
            <div class="my-3" key={slugify(project.frontmatter.title)}>
                <div class="button is-white is-flex is-justify-content-space-between is-align-items-center project-button px-5 py-4">
                    <div class="is-flex article-list">

    <img class="article-img" src={project.frontmatter.image} alt="project-image">

                        <div class="is-flex is-flex-direction-column is-align-items-start title-wrap">
                            <a href={"article/" + slugify(project.frontmatter.title)}  class="is-size-4 article-title">{project.frontmatter.title}</a>
                            <span class="date-category">
                                <span>{formatDate(project.frontmatter.date)}</span>
                                <span class="separator">— 

in</span>
                                <a class="categories" href={`/article/category/${project.frontmatter.category}/page/1`}>{project.frontmatter.category}</a>
                        </span>
                        </div>
                    </div>
                    <div class="chevron">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M9 6l6 6l-6 6"/>
                        </svg>
                    </div>
                </div>
            </div>
        ))}
    </div>
       </div>
</div>