---
const {projects} = Astro.props
const slugify = (isTitle) => {
   return isTitle.toLowerCase()
          .replace(/[^a-z0-9-]/g, '-')
          .replace(/-+/g, '-')
          .trim('-')}
---

<div class="is-flex is-align-items-start is-flex-direction-column mt-3 px-5">
        <h2 class="is-size-3 is-size-5-mobile mb-3">🛠 My Projects</h2>
        <p>
          Saya mempelajari Python untuk analisis data dan machine learning, serta aktif dalam pengembangan web dengan Flask, Django, React, Laravel, dan Node.js.
         </p>
       </div>
       
       <div class="project is-flex is-flex-direction-column has-background-white-ter py-5 mt-6">
        <div class="is-flex is-flex-direction-column mt-3 project-container">
          {projects.map(project => (
            <div class="my-3 mx-5" key={slugify(project.frontmatter.title)}>
              <a href={"/projects/"+slugify(project.frontmatter.title)} class="button is-white is-flex is-justify-content-space-between is-align-items-center project-button px-5 py-4">
                <div class="is-flex project-list">
                  <img class="project-img" src={project.frontmatter.image} alt="project-image">
                  <div class="is-flex is-flex-direction-column is-align-items-start title-wrap">
                    <h1 class="is-size-5 project-title">{project.frontmatter.title}</h1>
                    <p class="is-size-6" style="color: rgb(114, 114, 114);">{project.frontmatter.type}</p>
                  </div>
                </div>
                <div class="chevron">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 6l6 6l-6 6" />
                  </svg>
                </div>
              </a>
            </div>
          ))}
        </div>